mixin team()
  +profile('Kithmin Wickremasinghe','Lead Researcher',false,false)   
  +profile('Dineth Mudalige','Researcher',false,false)    
  +profile('Hasindu Kariyawasam','Researcher',false,false) 
  +profile('Kithmini Herath','Researcher',false,false)
  +profile('Nuwan Bandara','Researcher',false,false)
  +profile('Ramith Hettiarachchi','Researcher','medium',false)
  +profile('Shehan Munasinghe','Researcher',false,false)
  +profile('Sachini Chandanayake','Researcher',false,false)    
  +profile('Udith Haputhanthri','Researcher','big',false)   

     

mixin profile(name, position, use_placeholder, use_compact)
  - s = ""
  - if(use_compact === true) {
  -   c = "col-md-1 col-xs-1"
  -   s = "margin: 0px; padding: 0px;"
  - } else {
  -   c = "col-xs-4 item-wrap col-sm-2"
  - }
  div(class=c, style=s)
    +profile_inner(name, position, use_placeholder, use_compact)

mixin profile_inner(name, position, use_placeholder, use_compact)
  - if (position == 'uom') {
  -   pos = 'Researcher'
  - } else if (position == 'med') {
  -   pos = 'Med Student'
  - } else {
  -   pos = position
  - }
  - if (use_placeholder == true) {
  -   img_link = "Placeholder"
  - } else {
  -   img_link = name.replace(/ /g, '')
  - }
  if (use_compact === true)
    img(src='/img/headshots/' + img_link + '.jpg', style="padding: 0px;margin: 0px;margin-top:15px;")
  else if(use_compact === 'big_compact')
    img(src='/img/headshots/' + img_link + '.jpg', style="padding: 0px;margin: 0px;margin-top:15px;")
  else
    .feature-item
      img.img-circle(src='/img/headshots/' + img_link + '.jpg')
      h5.compact-Researcher #{name}
      h6.compact-subResearcher #{pos}


