extends layout

block title
  title Intelliscope

block description
  meta(name='description', content='low-cost wireless stethoscope with an artificial intelligence (AI) back-end')
  meta(property="og:image", content="https://stanfordmlgroup.github.io/projects/chexnext/img/chexnext-app.png")
  meta(name="twitter:image",content="https://stanfordmlgroup.github.io/projects/chexnext/img/chexnext-app.png")

block extralinks
  link(rel='stylesheet', type='text/css', href='/projects/chexnext/css/chexnext.css')

block extrascripts
include includes/profiles

block content
  section#header
    .container
      .row
        .col-lg-10
          h1 Intelliscope: A Low-Cost AI-powered Stethoscope for Cardiovascular Disease Management in Resource-Constrained Environments
  section
    .container
      .row
        .col-md-6.col-md-push-6
          h2 We present a low-cost wireless stethoscope with an artificial intelligence (AI) back-end to help both semi-trained and expert medical professionals to diagnose cardiac abnormalities 
          p The coronavirus pandemic has created a deleterious impact throughout the world. Developing countries are particularly hard-hit, as they scramble to use limited resources, both financial and personnel, to battle its growing spread. Novel cost effective medical devices which cater to the unique needs of this hour are therefore of utmost importance. Here we present a low-cost wireless stethoscope with an artificial intelligence (AI) back-end to help both semi-trained and expert medical professionals to diagnose cardiac abnormalities while wearing personal protective equipment or maintaining a safe distance from the patient. Cardiac complications are implicated in a significant portion of coronavirus patients, and patients with underlying cardiac diseases are known to be at a higher risk of mortality.  However, existing wireless stethoscopes with AI-support are either simply unaffordable or unavailable in many developing countries touting large populations (e.g. India, Brazil). Therefore, our stethoscope: the <b>Intelliscope</b>, can become a game-changer helping tackle this pandemic in such resource-constrained environments.
        .col-sm-12.col-md-6.col-md-pull-6
          iframe(width="100%", height='300px', src="https://www.youtube-nocookie.com/embed/bDfqPbMdl5g",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
  section.gray
    .container
      .row
        .col-md-6
          h2 Hardware content
          p Intelliscope hardware consists of a dry electrode-based ECG add-on and a low powered control unit which can be easily integrated with a traditional stethoscope. Integrating these two components with an existing stethoscope will transform it to a wireless stethoscope with the ability to record synchronized high quality PCG and ECG signals and with a powerful AI backend. The ECG add-on is carefully designed with a unique shape, making it very easy to use with a stethoscope and also as a separate hand-held device. The battery powered circuitry inside the control unit, provides filtering and active noise cancellation to the acquired signals and wirelessly transmits them to the user’s mobile phone or computer; allowing the user to record, visualize and analyze the data.
        .col-md-6
            img(src='/projects/chexnext/img/chexnext-cams.png', style='max-height:700px;')
  section
    .container
      .row
        .col-md-6
          img(src='/img/pipeline.png')
        .col-md-6
          h2 Transfer Learning-Based Approach for Screening Pre-existing Heart Diseases Using Synchronized ECG Signals and Heart Sounds
          p 
           | Diagnosing pre-existing heart diseases early in life is important as it helps 
           | prevent complications such as pulmonary hypertension, heart rhythm problems, 
           | blood clots, heart failure and sudden cardiac arrest. To identify such diseases, 
           | phonocardiogram (PCG) and electrocardiogram (ECG) waveforms convey important information. 
           | Therefore, effectively using these two modalities of data has the potential to improve the 
           | disease screening process. Here, we evaluate this hypothesis on a subset of the PhysioNet 
           | Challenge 2016 Dataset which contains simultaneously acquired PCG and ECG recordings. 
           | Our novel Dual-Convolutional Neural Network based approach uses transfer learning to tackle 
           | the problem of having limited amounts of simultaneous PCG and ECG data that is publicly available, 
           | while having the potential to adapt to larger datasets.
           | Comparisons with methods which used single or dual modality data show that our method can lead to better performance. 
           | Furthermore, our results show that individually collected ECG or PCG waveforms are able to provide transferable features
           | which could effectively help to make use of a limited number of synchronized PCG and ECG waveforms and still achieve significant classification performance.  
  section
    .container
      .row
        .col-md-7.col-md-push-5
          img(src='/img/n.png')
        .col-md-5.col-md-pull-7
          h2 Realtime processing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac consectetur turpis, quis luctus risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed dignissim augue eros, at vulputate nibh vestibulum nec. Vestibulum aliquet sapien odio, vel ullamcorper tellus maximus quis. Cras maximus suscipit diam, lobortis fermentum turpis tincidunt nec. Fusce facilisis facilisis enim, in aliquam lorem porttitor sed. Aenean odio orci, fringilla et libero quis, blandit cursus odio. Pellentesque eget neque congue, sagittis dolor et, sollicitudin tellus. Phasellus velit quam, ultrices a ultrices at, accumsan vitae neque. Aliquam vulputate imperdiet metus nec fringilla. Vestibulum vel ante at massa rutrum gravida. Vivamus tempus, dolor nec dapibus pretium, ligula nisl iaculis diam, ac efficitur leo felis vel enim. Pellentesque mattis magna ut ornare ultrices. Praesent in sapien hendrerit felis fringilla vehicula a dignissim arcu.
  section.gray
    .container
      .row
        .col-md-5.col-md-push-7
          img(src='/projects/chexnext/img/chexnext-app.png')
          img(src='/projects/chexnext/img/chexnext-app2.png')
        .col-md-7.col-md-pull-5
          h2 We are currently looking for research partnerships with healthcare providers that are interested in working with us to validate the technology.
          p 
            | We hope that this technology may have the potential to improve healthcare delivery and increase access to chest radiograph expertise globally.
            | Towards this goal, the future of this research will depend on obtaining access to more sources of data for training and improving the model, as well as testing it on new populations and diagnoses. This additional data will help improve the accuracy and robustness of the model, making it more safe and effective. 
          a.btn.btn-lg.btn-default(href="https://goo.gl/forms/KS4b2h37i0vTRLRN2") Partner with us
  section
    .container  
      .row.text-center
        h2 Our Team
        p An awesome set of people
      .row.text-center
        +team
  section.gray
    .container
      .row
        .col-md-7
          h3
            | To learn more, 
            a(href="https://intelliscope.life/iscas2021") read our publication
          a.btn.btn-lg.btn-default(href="https://intelliscope.life/iscas2021") Read Paper
          .pad
          p
            | If you have questions about our work,
            | contact us at:
          h4
            code hello@intelliscope.life
