extends layout

block title
  title Intelliscope

block description
  meta(name='description', content='low-cost wireless stethoscope with an artificial intelligence (AI) back-end')
  meta(property="og:image", content="https://stanfordmlgroup.github.io/projects/chexnext/img/chexnext-app.png")
  meta(name="twitter:image",content="https://stanfordmlgroup.github.io/projects/chexnext/img/chexnext-app.png")

block extralinks
  link(rel='stylesheet', type='text/css', href='/projects/chexnext/css/chexnext.css')


block extrascripts
include includes/profiles

block content
  section#header
    .container
      .row
        .col-lg-10
          h1 Intelliscope: A Low-Cost AI-powered Stethoscope for Cardiovascular Disease Management in Resource-Constrained Environments
  section
    .container
      .row
        .col-md-6.col-md-push-6
          h3 We present a low-cost wireless stethoscope with an artificial intelligence (AI) back-end to help both semi-trained and expert medical professionals to diagnose cardiac abnormalities 
          p The coronavirus pandemic has created a deleterious impact throughout the world. Developing countries are particularly hard-hit, as they scramble to use limited resources, both financial and personnel, to battle its growing spread. Novel cost effective medical devices which cater to the unique needs of this hour are therefore of utmost importance. Here we present a low-cost wireless stethoscope with an artificial intelligence (AI) back-end to help both semi-trained and expert medical professionals to diagnose cardiac abnormalities while wearing personal protective equipment or maintaining a safe distance from the patient. Cardiac complications are implicated in a significant portion of coronavirus patients, and patients with underlying cardiac diseases are known to be at a higher risk of mortality.  However, existing wireless stethoscopes with AI-support are either simply unaffordable or unavailable in many developing countries touting large populations (e.g. India, Brazil). Therefore, our stethoscope: the <b>Intelliscope</b>, can become a game-changer helping tackle this pandemic in such resource-constrained environments.
        .col-sm-12.col-md-6.col-md-pull-6
          iframe(width="100%", height='300px', src="https://www.youtube-nocookie.com/embed/bDfqPbMdl5g",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
  section.gray
    .container
      .row
        .col-md-6
          h2 Hardware Device
          p Intelliscope hardware consists of a dry electrode-based ECG add-on and a low powered control unit which can be easily integrated with a traditional stethoscope. Integrating these two components with an existing stethoscope will transform it to a wireless stethoscope with the ability to record synchronized high quality PCG and ECG signals and with a powerful AI backend. The ECG add-on is carefully designed with a unique shape, making it very easy to use with a stethoscope and also as a separate hand-held device. The battery powered circuitry inside the control unit, provides filtering and active noise cancellation to the acquired signals and wirelessly transmits them to the user’s mobile phone or computer; allowing the user to record, visualize and analyze the data.
        .col-md-6
            img(src='/img/hardware.png', style='max-height:700px;')
  section
    .container
      .row
        .col-md-6
          img(src='/img/pipeline.png', style='max-height:700px;margin-top:12px;')
        .col-md-6
          h3 Transfer Learning-Based Approach for Screening Pre-existing Heart Diseases Using Synchronized ECG Signals and Heart Sounds
          p 
           | Diagnosing pre-existing heart diseases early in life is important as it helps 
           | prevent complications such as pulmonary hypertension, heart rhythm problems, 
           | blood clots, heart failure and sudden cardiac arrest. To identify such diseases, 
           | phonocardiogram (PCG) and electrocardiogram (ECG) waveforms convey important information. 
           | Therefore, effectively using these two modalities of data has the potential to improve the 
           | disease screening process. Here, we evaluate this hypothesis on a subset of the PhysioNet 
           | Challenge 2016 Dataset which contains simultaneously acquired PCG and ECG recordings. 
  section
    .container
      .row
        .col-md-7.col-md-push-5
          img(src='/img/stat.svg')
        .col-md-5.col-md-pull-7
          h2 Our Study
          p  Our novel Dual-Convolutional Neural Network based approach uses transfer learning to tackle the problem of having limited amounts of simultaneous PCG and ECG data that is publicly available, while having the potential to adapt to larger datasets. Comparisons with methods which used single or dual modality data show that our method can lead to better performance. Furthermore, our results show that individually collected ECG or PCG waveforms are able to provide transferable features which could effectively help to make use of a limited number of synchronized PCG and ECG waveforms and still achieve significant classification performance.  
  section.gray
    .container
      .row
        .col-md-5.col-md-push-7
          img(src='/projects/chexnext/img/chexnext-app.png')
        .col-md-7.col-md-pull-5
          h2 Timeline  
          a.btn.btn-lg.btn-default(href="https://uom.lk/university_news/uom-wins-first-runner-award-2020-cass-covid-19-special-student-design-competition") News
  section
    .container  
      .row.text-center
        h2 Our Team
        p An awesome set of people
      .row.text-center
        +team
  section.gray
    .container
      .row
        .col-md-7
          h3
            | To learn more, 
            a(href="https://arxiv.org/abs/2102.01728") read our publication
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/2102.01728") Read Paper
          .pad
          p
            | If you have questions about our work,
            | contact us at:
          h4
            code hello@intelliscope.life
