extends layout
//- blocks define content injection points
block title
  title theBRIC

block description
  meta(name='description', content='We are the Biomedical Research and Innovation Collective')


block content 
    section#header
        div.container
            h1.main headings
    div.container
        h1.Banner theBRIC
        div.Message
        div.Title
            h3 Making the Best Setho
        span.Details Access the WHATABYTE Team Portal
        div.NavButtons
        a(href="/link")
            div.NavButton link to a new page